.remember-me {
  height: 34px;
}

.remember-me .checkbox {
  margin: 0;
  height: 100%;
}

.remember-me .checkbox label {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

.remember-me .checkbox label div {
  margin-right: 7px;
}

.bottom-links {
  margin-top: 10px;
}

.bottom-links a {
  display: block;
}

