@-webkit-keyframes swing {
  5% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }

  10% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
            transform: rotate3d(0, 0, 1, -10deg);
  }

  15% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg);
  }

  20% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
  }

  25%, 100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  5% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }

  10% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
            transform: rotate3d(0, 0, 1, -10deg);
  }

  15% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg);
  }

  20% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
  }

  25%, 100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
}

.animated.swing {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: swing 7s infinite;
          animation: swing 7s infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.main-sidebar .user-panel {
  margin-top: 7px;
  margin-left: 2px;
}

.main-sidebar .user-panel .image img {
  width: 100%;
  max-width: 45px;
  height: auto;
}

.main-sidebar .user-panel .info #account-status {
  height: 15px;
}

.main-sidebar .user-panel .info #account-status #account-status__icon {
  height: 100%;
  vertical-align: middle;
}

.main-sidebar .user-panel .info #account-status #account-status__label {
  height: 100%;
  color: #b8c7ce;
  font-size: 12px;
}

.timer {
  font-size: 15px;
}

.main-header .sidebar-toggle:before {
  content: "";
}

.navbar-nav .user-menu .dropdown-menu li.user-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-nav .user-menu .dropdown-menu li.user-header a {
  color: inherit;
}

.navbar-nav .user-menu .dropdown-menu li.user-header .avatar {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.navbar-nav .user-menu .dropdown-menu li.user-header .avatar img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}

.navbar-nav .user-menu .dropdown-menu li.user-header .avatar:hover {
  cursor: pointer;
}

.navbar-nav .user-menu .dropdown-menu li.user-header .avatar:hover .text {
  visibility: visible;
  opacity: 1;
}

.navbar-nav .user-menu .dropdown-menu li.user-header .avatar .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  visibility: hidden;
  margin-top: -90px;
  font-size: 36px;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity .2s, visibility .2s;
  transition: opacity .2s, visibility .2s;
}

.breadcrumb li i {
  margin-right: 3px;
}

