@keyframes swing {
    5% {
        transform: rotate3d(0, 0, 1, 15deg);
    }

    10% {
        transform: rotate3d(0, 0, 1, -10deg);
    }

    15% {
        transform: rotate3d(0, 0, 1, 5deg);
    }

    20% {
        transform: rotate3d(0, 0, 1, -5deg);
    }

    25%, 100% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@mixin animation_swing {
    transform-origin: top center;
    animation: swing 7s infinite;
    animation-delay: 1s;
}

.animated {
    &.swing {
        @include animation_swing
    }
}
