.remember-me {
    height: 34px;

    .checkbox {
        margin: 0;
        height: 100%;

        label {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;

            div {
                margin-right: 7px;
            }
        }
    }
}

.bottom-links {
    margin-top: 10px;

    a {
        display: block;
    }
}
