@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin avatar-circle {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.timer {
    font-size: 15px;
}

.main-header {
    .sidebar-toggle:before {
        content: "";
    }
}

.navbar-nav {
    .user-menu {
        .dropdown-menu {
            li.user-header {
                @include center;

                a {
                    color: inherit;
                }

                .avatar {
                    @include avatar-circle;

                    img {
                        @include avatar-circle;

                        border: 3px solid;
                        border-color: transparent;
                        border-color: rgba(255,255,255,0.2);
                    }

                    &:hover {
                        cursor: pointer;

                        .text {
                            visibility: visible;
                            opacity: 1;
                        }
                    }

                    .text {
                        @include center;
                        @include avatar-circle;

                        visibility: hidden;
                        margin-top: -90px;
                        font-size: 36px;
                        color: #fff;
                        opacity: 0;
                        transition: opacity .2s, visibility .2s;
                    }
                }
            }
        }
    }
}
