.main-sidebar {
    .user-panel {
        margin-top: 7px;
        margin-left: 2px;

        .image {
            img {
                width: 100%;
                max-width: 45px;
                height: auto;
            }
        }

        .info {
            #account-status {
                height: 15px;

                #account-status__icon {
                    height: 100%;
                    vertical-align: middle;
                }
                #account-status__label {
                    height: 100%;
                    color: #b8c7ce;
                    font-size: 12px;
                }
            }
        }
    }
}
